<html>
  <head>
    <title>{{ title }} - Enter Buoy Number </title>
  </head>
  <h2> Enter NDBC Buoy Number: </h2>
  <form action="{{ url_for('ESSC_Results')}}" method="post" name="ESSC"> 
    <p>
      Please enter the buoy number for the NDBC site you wish to use: <br>
        {{form.buoyNum(size=10)}}
    </p>
    <p> Buoy Type:
        <input type="checkbox" name = "Buoy Type" value="NDBC"> NDBC 
        <input type="checkbox" name = "Buoy Type" value="CDIP"> CDIP 
    </p>
    <h3>Select contour types:</h3>
    <input type="checkbox" name = "Contour" value="PCA">PCA <br>
    <input type="checkbox" name = "Contour" value="Gauss">Gaussian Copula <br>
    <input type="checkbox" name = "Contour" value="CC">Clayton Copula<br>
    <input type="checkbox" name = "Contour" value="Gumbel">Gumbel Copula <br>
    <input type="checkbox" name = "Contour" value="Rosen">Rosenblatt <br>
    <p><input type="submit" value="Submit"></p>
  </form>  
</html>